# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
fastapi[all]
uvicorn[standard]
gunicorn
starlette
aiohttp
prometheus-client
prometheus_fastapi_instrumentator

sqlalchemy
asyncpg
aiodataloader
strawberry-graphql

https://github.com/hrbolek/uoishelpers/archive/refs/heads/main.zip
https://github.com/hrbolek/PyMockOAuthServer/archive/refs/heads/main.zip

pytest
pytest-cov
pytest-asyncio
aiosqlite
gevent